<header>
  {{#if user }}
    <h1>
      <a href="/user">BLOG</a>
    </h1>
  {{else}}
    <h1>
      <a href="/">BLOG</a>
    </h1>
  {{/if}}  
</header>

<nav>
   

  {{#if user }}
    <div class="navs">
      <a href="/">Log Out</a>
    </div>
  
    <div class="navs">
        <a href="/user/all_users">All Users</a>
    </div>

    <div class="navs">
            <a href="/post">All Posts</a>
    </div> 
  {{else}}
    <div class="navs">
      <a href="/user/login">Log In</a>
    </div>
  {{/if}}    

  {{#if user }}
    <div class="navs">
      <a href="/user/user_profile">Your Profile</a>
    </div> 
  {{else}}  
    <div class="navs">
      <a href="/user/register">Register</a>
    </div>
  {{/if}}  

</nav>