<div class="blogWrapper">
{{#each posts }}
    <div class="each_post">
      <h2>{{{ this.title }}}</h2>
      <p>{{{ this.author }}}</p>
      <p>{{{ this.description }}}</p>
    </div>
{{/each}}
</div>