<article>
About the hackathon, why we made it.
</article>
<div class="contact">Connect with Syeda:
<ul><li><a href="https://www.linkedin.com/in/syeda-ismat-farjana/">Linked In</a></li>
<li><a href="https://github.com/ismatfarjana">Github</a></li>
<li><a href="https://twitter.com/ismat_farjana">Twitter</a></li></ul>
Connect with Adrienne:
<ul><li><a href="https://www.linkedin.com/in/asmith-webdev/">Linked In</a></li>
<li><a href="https://github.com/aes89">Github</a></li>
<li><a href="https://twitter.com/Adrienne_es">Twitter</a></li></ul>
</div>

<aside><img class="profiles" src="images/adrienne.jpeg" />

<img class="profiles" src="images/adrienne.jpeg" /> </aside>