<article>
This project was created as part of a 2.5 day Hackathon through Coder Academy.
<br>
The aim of the Hackathon was to create an app including both a front end and a back end using Express JS.
On the server-side is was required to have express and mongo server than responds to requests with data, and on the client side it was required to have 
HTML/CSS/JavaScript that sent requests, received and displayed data from the server. We were also required to use Git Workflows.
<br>
Check out our <a href="https://github.com/hackathon-blog/blog">repo!</a>
</article>
<div class="contact">
  <div class="one_contact">
    Connect with Syeda:
    
    <div class="contact_parts">
      <img class="profiles" src="images/syeda.jpg" />
    </div>
    <div class="contact_parts">
      <a href="https://www.linkedin.com/in/syeda-ismat-farjana/"><img class="social_logo" src="images/linkedinlogo.png" /></a>
      <a href="https://github.com/ismatfarjana"><img class="social_logo" src="images/githublogo.png" /></a>
      <a href="https://twitter.com/ismat_farjana"><img class="social_logo" src="images/twitterlogo.png" /></a>
    </div>
      
  </div>

  <div class="one_contact">
    Connect with Adrienne:
    <div class="contact_parts">
      <img class="profiles" src="/images/adrienne.jpeg" />
    </div>  
    <div class="contact_parts">
      <a href="https://www.linkedin.com/in/asmith-webdev/"><img class="social_logo" src="images/linkedinlogo.png" /></a>
    <a href="https://github.com/aes89"><img class="social_logo" src="images/githublogo.png" /></a>
    <a href="https://twitter.com/Adrienne_es"><img class="social_logo" src="images/twitterlogo.png" /></a>
    </div>
    
  </div>


  {{!-- <div class="one_creator">
    Connect with Adrienne:
    <a href="https://www.linkedin.com/in/asmith-webdev/">Linked In</a>
    <a href="https://github.com/aes89">Github</a>
    <a href="https://twitter.com/Adrienne_es">Twitter</a>
    <aside>
      <img class="profiles" src="images/adrienne.jpeg" />
    </aside> 
  </div> --}}
  
  
</div>

<aside>
  {{!-- <img class="profiles" src="images/syeda.jpg" />
  <img class="profiles" src="images/adrienne.jpeg" /> --}}
</aside>