<article>
This project was created as part of a 2.5 day Hackathon through Coder Academy.
<br>
The aim of the Hackathon was to create an app including both a front end and a back end using Express JS.
On the server-side is was required to have express and mongo server than responds to requests with data, and on the client side it was required to have 
HTML/CSS/JavaScript that sent requests, received and displayed data from the server. We were also required to use Git Workflows.
<br>
Check out our <a href="https://github.com/hackathon-blog/blog">repo!</a>
</article>
<div class="contact">Connect with Syeda:
<ul><li><a href="https://www.linkedin.com/in/syeda-ismat-farjana/">Linked In</a></li>
<li><a href="https://github.com/ismatfarjana">Github</a></li>
<li><a href="https://twitter.com/ismat_farjana">Twitter</a></li></ul>
Connect with Adrienne:
<ul><li><a href="https://www.linkedin.com/in/asmith-webdev/">Linked In</a></li>
<li><a href="https://github.com/aes89">Github</a></li>
<li><a href="https://twitter.com/Adrienne_es">Twitter</a></li></ul>
</div>

<aside><img class="profiles" src="images/syeda.jpg" />

<img class="profiles" src="images/adrienne.jpeg" /> </aside>