<article>
About the hackathon, why we made it.
</article>
<div class="contact">
  <div class="one_contact">
    Connect with Syeda:
    
    <div class="contact_parts">
      <img class="profiles" src="images/syeda.jpg" />
    </div>
    <div class="contact_parts">
      <a href="https://www.linkedin.com/in/syeda-ismat-farjana/"><img class="social_logo" src="images/linkedinlogo.png" /></a>
      <a href="https://github.com/ismatfarjana"><img class="social_logo" src="images/githublogo.png" /></a>
      <a href="https://twitter.com/ismat_farjana"><img class="social_logo" src="images/twitterlogo.png" /></a>
    </div>
      
  </div>

  <div class="one_contact">
    Connect with Adrienne:
    <div class="contact_parts">
      <img class="profiles" src="/images/adrienne.jpeg" />
    </div>  
    <div class="contact_parts">
      <a href="https://www.linkedin.com/in/asmith-webdev/"><img class="social_logo" src="images/linkedinlogo.png" /></a>
    <a href="https://github.com/aes89"><img class="social_logo" src="images/githublogo.png" /></a>
    <a href="https://twitter.com/Adrienne_es"><img class="social_logo" src="images/twitterlogo.png" /></a>
    </div>
    
  </div>


  {{!-- <div class="one_creator">
    Connect with Adrienne:
    <a href="https://www.linkedin.com/in/asmith-webdev/">Linked In</a>
    <a href="https://github.com/aes89">Github</a>
    <a href="https://twitter.com/Adrienne_es">Twitter</a>
    <aside>
      <img class="profiles" src="images/adrienne.jpeg" />
    </aside> 
  </div> --}}
  
  
</div>

<aside>
  {{!-- <img class="profiles" src="images/syeda.jpg" />
  <img class="profiles" src="images/adrienne.jpeg" /> --}}
</aside>