<main>
    <div class="recentNav">        
    {{#if user}}
        <div class="allPostLink">
            <a href="/post/new">Add A Post</a>
        </div> 
    {{else}}
        <div class="recent">
           <h4 class="recentHeading">Log In to Get Blogging!</h4>
        </div>     
    {{/if}}
    </div>
         {{#if user}}
           <p>You are now logged in!</p>
         {{/if}}
</main>

<aside class="homePage">
    <img class="homePageImage" src="images/homePage.jpg" />
</aside>

