<main>
  {{#if user }}
    <h2>
         Profile page of {{{ user.name }}}
    </h2>
  {{else}}
    <h1> Register to create Your profile </h1>
  {{/if}}  
  <div class="current_user">
    Welcome {{ user.name }}!
    This is your profile page
  <image class="doodle" src="/doodle.png" alt="doodle of a people writing" />  
  </div>
</main>