@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
body {
  background-color: #fbe7df;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

header {
  color: #12263a;
  background-color: #06bbc1d6;
  border-radius: 40px;
  width: 80%;
  margin: auto;
  text-align: center;
  box-shadow: 10px 10px 15px 3px #12263a54;
  padding: 10px 0;
}

nav {
  color: #801907;
  background-color: #f89a75;
  border-radius: 40px;
  width: 80%;
  margin: auto;
  text-align: center;
  box-shadow: 10px 10px 15px 3px #80190793;
  padding: 10px 0;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.navs {
  width: 45%;
}

article,
.contact {
  display: flex;
  flex-flow: row;
  justify-content: center;
  color: #801907;
  background-color: #f89a75;
  border-radius: 40px;
  width: 80%;
  margin: auto;
  text-align: center;
  box-shadow: 10px 10px 15px 3px #80190793;
  padding: 10px 5px;
  margin-top: 20px;
}

.one_contact {
  display: flex;
  flex-flow: column;
  text-align: center;
  padding: 20px;
}
.contact_parts {
  padding-top: 1.5rem;
}
.profiles {
  max-width: 50%;
  width: 50vw;
  height: auto;
  border-radius: 100%;
  text-align: center;
}

.social_logo {
  width: 20px;
  height: auto;
  border-radius: 100%;
}

.recentNav {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.recent {
  text-align: left;
  color: #801907;
  background-color: #f89a75;
  border-radius: 40px;
  width: 60%;
  box-shadow: 10px 10px 15px 3px #80190793;
  padding: 10px 0;
  margin-top: 20px;
}

.allPostLink {
  color: #801907;
  background-color: #f89a75;
  border-radius: 40px;
  width: 30%;
  text-align: center;
  box-shadow: 10px 10px 15px 3px #80190793;
  padding: 10px 0;
  margin-top: 20px;
}
.recentHeading {
  padding: 0;
  margin: 0 0 0 1rem;
}

.previewWrapper {
  display: flex;
  max-width: 80%;
  margin: auto;
  justify-content: space-between;
}

.blogPreviews {
  color: #801907;
  background-color: #f89a75;
  border-radius: 40px;
  width: 45%;
  text-align: center;
  box-shadow: 10px 10px 15px 3px #80190793;
  padding: 10px 0;
  margin-top: 20px;
}
.allBlogWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 80%;
  margin: auto;
  margin-top: 20px;
}

.each_post {
  color: #801907;
  background-color: #f89a75;
  border-radius: 40px;
  width: 95%;
  text-align: center;
  box-shadow: 10px 10px 15px 3px #80190793;
  margin: auto;
  margin-top: 20px;
}

.each_user {
  color: #801907;
  background-color: #f89a75;
  border-radius: 40px;
  width: 95%;
  text-align: center;
  box-shadow: 10px 10px 15px 3px #80190793;
  margin: auto;
  margin-top: 20px;
  padding: 5px 0;
}
.each_user_profile,
.current_user {
  display: flex;
  flex-flow: column;
  color: #801907;
  background-color: #f89a75;
  border-radius: 40px;
  width: 80%;
  height: auto;
  text-align: center;
  box-shadow: 10px 10px 15px 3px #80190793;
  margin: auto;
  margin-top: 20px;
  padding: 5px 0 20px 0;
}
.doodle {
  margin: auto;
  width: 100px;
  height: auto;
}

.blogWrapper {
  max-width: 80%;
  margin: auto;
  margin-top: 20px;
}

.single_post {
  color: #801907;
  background-color: #f89a75;
  border-radius: 40px;
  width: 100%;
  text-align: center;
  box-shadow: 10px 10px 15px 3px #80190793;
  margin: auto;
  margin-top: 20px;
}

form {
  display: flex;
  flex-flow: column;
  background-color: RGBA(255, 148, 88, 0.65);
  width: 140px;
  margin: auto;
  padding: 5px 25px;
  box-shadow: 10px 10px 15px 3px #80190793;
  border-radius: 20px;
}
h1 {
  text-align: center;
}
a {
  text-decoration: none;
  color: rgb(10, 10, 20);
}
a:hover {
  color: rgb(31, 1, 1);
}

/* //mediaquery */
@media all and (max-width: 600px) {
  .contact {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  article {
    padding: 10px 15px;
  }
  nav {
    padding: 10px 15px;
  }
}

footer {
  color: #12263a;
  background-color: #06bbc1d6;
  border-radius: 40px;
  width: 80%;
  margin: auto;
  text-align: center;
  box-shadow: 10px 10px 15px 3px #12263a54;
  /* line-height: 10px; */
  /* height: 20px; */
  padding: 5px 0;
  margin-top: 20px;
}

.homePage {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.homePageImage {
  max-width: 90%;
  max-height: auto;
  padding: 0;
  border-radius: 40px;
}

